body {
  font-size: 1.4em;
  background: rgba(53, 41, 52, 0.513);
  margin: 50px auto;
  font-family: 'Zen Old Mincho', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  background-color: rgb(113, 185, 214);
}
li{
  margin-top: 10px;
  list-style-type: none;
  
}
